/* 
primary font: Chakra Petch 
background color: goldenrod

*/


body {
    background-color: goldenrod;
    font-family: "Chakra Petch", sans-serif;
}

h1 {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
}

.button-class {
    border: 5px #000;
    height: 50px;
    margin-bottom: 10px;
    list-style: none;
}