/* 
primary font: Chakra Petch 
background color: goldenrod

*/


body {
    background-color: goldenrod;
    font-family: "Chakra Petch", sans-serif;
}

h1 {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 600;
}

.pokemon-list {
    border: 3px rgba(255, 0, 0, 0);
    height: 50px;
    margin-bottom: 10px;
  }