/* 
primary font: Chakra Petch 
background color: goldenrod

*/

body {
    background-color: goldenrod;
    font-family: "Chakra Petch", sans-serif;
    margin-top: 55px;
    cursor: pointer;
}

.modal-img {
    width: 50%;
}